# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# no environmeent variables
.env

# nothing inside the the images folder
images/*

# no images
*.jpeg
*.png
*.jpg
*.gif

hold.txt