# images
THUMBNAIL_WIDTH=128
THUMBNAIL_HEIGHT=128

# digital ocean 
DO_ACCESS_KEY_ID=
DO_SECRET_ACCESS_KEY=
DO_BUCKET=drugstore-prac
DO_FOLDER=prac
DO_ENDPOINT=https://fra1.digitaloceanspaces.com

# db
DB_CONNECTION=mysql
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
